In [7]:
print('Hello World', "hahah", sep='xxx')

Hello Worldxxxhahah

In [8]:
print("newww"*10)

newwwnewwwnewwwnewwwnewwwnewwwnewwwnewwwnewwwnewww

In [22]:
print("A")
print("B")
print("C")
print("D")

print('python goes line by line') # this is a comment

A
B
C
D
python goes line by line

In [25]:
x=10

In [27]:
x==100

False

In [38]:
x=0
if x==10:
    print('equal to 10') #python uses indentation to specify blocks of code 

print('equal to madness')

equal to madness

In [ ]:
age=10
print("age")

In [39]:
(1+2)*3

9

In [43]:
sqrt(4) # base python cant perform complicated math and must import a function

SyntaxError: unexpected character after line continuation character (420891313.py, line 1)

In [58]:
import math #importing maths package 
import numpy 

# maths package and np package offers different services

In [59]:
math.sqrt(4)

2.0

In [60]:
numpy.sqrt(4)

np.float64(2.0)

In [61]:
import numpy as np

In [71]:
x32=numpy.sqrt(100,dtype=np.float32)
x64=numpy.sqrt(100,dtype=np.float64)

In [69]:
type(x32)

numpy.float32

In [72]:
type(x64)

numpy.float64

In [73]:
import numpy as np

In [74]:
type('age')

str

In [75]:
type('1')

str

In [78]:
x=1
if x==10:
    # true block
    print('10'*3)
else:
    # false block
    print('not 10')

not 10

In [79]:
x=10

In [82]:
x > 5

True

In [89]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
if 'apple' in fruits:
    print('pomme')

pomme

In [86]:
'apple' in ['apple', 'banana', 'pineapple', 'jackfruit']

True

In [90]:
a=0.1
a3=0.3
a*3==a3

False

In [91]:
np.isclose(a*3,a3)

np.True_

In [105]:
age=10
print (f'my age is {age:10d}')

my age is         10

In [95]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [104]:
print(f'{text:<30}')      # A block of 30 characters;

Bruce Wayne is Batman.

In [107]:
x=40
x/=2
x

20.0

In [113]:
print('A\B\C')

A\B\C

In [114]:
print('A\\B\\C')

A\B\C